$color-white: #ffffff;

$color-dark-1: #333333;

$color-primary: #f8e530;
$color-primary-light: #cebf2c;

$color-grey-dark-1: #858585;

$color-grey-light-1: #cacaca;

$bp-largest: 75em;
$bp-larger: 62.5em;
$bp-large: 56.25em;
$bp-big: 50em;
$bp-medium: 43.75em;
$bp-small: 37.5em;
$bp-smaller: 25em;